/*
 * Created with JetBrains WebStorm.
 * User: Robert
 * Date: 13-5-2
 * Time: 下午12:24
 */

@import 'globe'

html
    background: url('/img/background.jpg') no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

body
    color: #000

#login-box
    width: 600px
    height: 360px
    margin-left: 16%
    margin-top: 10%

button.k-button
    font-size: 16px
    width: 120px
    height: 40px

button:focus
   color: #fff

button.loading
    background: #444 url('/img/button-loading.gif') no-repeat 64px 17px !important
    padding-left: 20px
    text-align: left

#tickets
    h3.title
        font-family Consolas, "隶书", "宋体", Helvetica
        font-size: 72px
        margin-bottom: 0

    p
        margin-left: 2em
        margin-bottom: 20px

    li
        margin: 16px 0

    li.accept
        margin-left: 32px
        margin-top: 32px

        div
            display: inline-block
            margin-left: 20px
            vertical-align: -30%

            span
                cursor: pointer
            span:hover
                color: #742

    li.invalid
        margin-left: 36px
        margin-top: 32px
        color: #f20

    input[type='text'],
    input[type='password']
        border: 1px solid transparent
        border-bottom: 1px solid #999
        color: #000
        padding: 2px 0.6em 0
        font-size: 1.15em
        font-family "微软雅黑", "宋体", Helvetica


    input[type='text']:hover,
    input[type='text']:focus,
    input[type='password']:hover
    input[type='password']:focus
        border: 1px solid transparent
        border-bottom: 1px solid #666

    label
        display: inline-block
        width: 24px
        height: 24px
        margin-right: 8px

    label.username
        background: url('/img/user.png') no-repeat 0 0

    label.password
        background: url('/img/password.png') no-repeat 0 0
