/*
 * Created with JetBrains WebStorm.
 * User: Robert
 * Date: 13-4-29
 * Time: 下午2:29
 */

fcolor = #ccc
bcolor = #0e0e0e
scrollbar-fcolor = #111
scrollbar-bcolor = #333
placeholder-fcolor = #666
link-fcolor = #008886
hover-fcolor = #00aba9
border-fcolor = #222
input-fcolor = #ddd
required-fcolor = #f90
entry-fcolor = #88c
