/*
 * Created with JetBrains WebStorm.
 * User: Robert
 * Date: 13-4-29
 * Time: 下午2:29
 */

console-color = #ccc
console-background-color = #0e0e0e
scrollbar-color = #111
scrollbar-background-color = #333
placeholder-text-color = #666
link-text-color = #008886
hover-text-color = #00aba9
input-text-color = #ddd
required-text-fcolor = #f90
self-text-color = #88c
