/*
 * Created with JetBrains WebStorm.
 * User: Robert
 * Date: 13-4-29
 * Time: 下午2:33
 */

#login-window
  margin 0
  padding 0

#tickets
  width 420px
  height 287px
  margin 0
  padding 2px 30px 10px 150px
  background url('/img/login.png') transparent no-repeat 0 0
  h3
    border-bottom 1px solid #666
    font-size 1.2em
    padding 6px
  ul
    list-style-type none
    margin 0
    padding 0
  li
    margin 10px 0 0 0

label
  display inline-block
  width 90px
  text-align right

.required
  color required-fcolor

.accept
  padding-left 90px

span.k-tooltip
  margin-left 6px

.self-entry
  color entry-fcolor = #88c

.side-panelbar li ul li
  text-indent 1em

.accept, .status
  padding-left 90px

.valid
  color green

.invalid
  color red

