/*
 * Created with JetBrains WebStorm.
 * User: Robert
 * Date: 13-4-29
 * Time: 下午2:27
 */

body
  background-color bcolor

  // Internet Explorer
  scrollbar-arrow-color scrollbar-fcolor
  scrollbar-face-color scrollbar-bcolor
  scrollbar-darkshadow-color scrollbar-fcolor
  scrollbar-highlight-color scrollbar-fcolor
  scrollbar-3dlight-color scrollbar-fcolor
  scrollbar-shadow-color scrollbar-fcolor
  scrollbar-track-color scrollbar-fcolor

::-webkit-scrollbar // WebKit browsers
    width 8px

::-webkit-scrollbar-thumb // WebKit browsers
  background scrollbar-bcolor

::-webkit-input-placeholder, // WebKit browsers
:-moz-placeholder, // Mozilla Firefox 4 to 18
::-moz-placeholder, // Mozilla Firefox 19+
:-ms-input-placeholder // Internet Explorer 10+
  color placeholder-fcolor

a
  color link-fcolor
  text-decoration none
  :hover
    color hover-fcolor
      img
        opacity 0.8

fieldset
  border none

#vertical
  height 100%
  width 100%
  margin 0 auto

.pane-content,
.input-pane-content
  margin 5px
  padding 0 5px

.input-pane-content
  height 30px

input#entry
  width 100%
  height 100%
  background-color bcolor
  border-width 0
  outline-width 0
  clear both
  font-size 1.2em
  color input-fcolor

.message
  font-size 14px
  line-height 1.3em
  padding 0 6px
  h4, p, ul
    margin 8px 0
  h4
    color input-fcolor
  p
    text-indent 2em
  ul
    padding-left 2em
  .exit
    color link-fcolor

#scroll-pane
  overflow auto

.k-textbox
  width 11.8em

.side-panelbar
  border-width: 0

.k-splitter .k-ghost-splitbar-horizontal,
.k-splitter .k-splitbar-horizontal,
.k-ghost-splitbar-vertical,
.k-splitbar-vertical
    border-width: 0

