/*
 * Created with JetBrains WebStorm.
 * User: Robert
 * Date: 13-4-29
 * Time: 下午2:27
 */

body
  color console-color
  background-color console-background-color

  // Internet Explorer
  scrollbar-arrow-color scrollbar-color
  scrollbar-face-color scrollbar-background-color
  scrollbar-darkshadow-color scrollbar-color
  scrollbar-highlight-color scrollbar-color
  scrollbar-3dlight-color scrollbar-color
  scrollbar-shadow-color scrollbar-color
  scrollbar-track-color scrollbar-color

::-webkit-scrollbar // WebKit browsers
    width 8px

::-webkit-scrollbar-thumb // WebKit browsers
  background scrollbar-background-color

::-webkit-input-placeholder, // WebKit browsers
:-moz-placeholder, // Mozilla Firefox 4 to 18
::-moz-placeholder, // Mozilla Firefox 19+
:-ms-input-placeholder // Internet Explorer 10+
  color placeholder-text-color

a
  color link-text-color
  text-decoration none
  :hover
    color hover-text-color
      img
        opacity 0.8

fieldset
  border none

#vertical
  height 100%
  width 100%
  margin 0 auto

.pane-content,
.input-pane-content
  margin 5px
  padding 0 5px

.input-pane-content
  height 30px

input#entry
  width 100%
  height 100%
  background-color console-background-color
  border-width 0
  outline-width 0
  clear both
  font-size 1.2em
  color input-text-color

.message
  font-size 14px
  line-height 1.3em
  padding 0 6px
  h4, p, ul
    margin 8px 0
  h4
    color input-text-color
  p
    text-indent 2em
  ul
    padding-left 2em
  .exit
    color link-text-color

#scroll-pane
  overflow auto

.side-panelbar
  border-width: 0

.k-splitter .k-ghost-splitbar-horizontal,
.k-splitter .k-splitbar-horizontal,
.k-ghost-splitbar-vertical,
.k-splitbar-vertical
    border-width: 0

.self-text-color
  color self-text-color

.side-panelbar li ul li
  text-indent 1em
