//-
   Created with JetBrains WebStorm.
   User: Robert
   Date: 13-4-24
   Time: 下午12:59

ul#left-panelbar.side-panelbar
    li
        span#online-text 在线用户 (?)
        ul#online-users
    li 别名 (?)
        ul
    li 触发器 (?)
        ul
