//-
   Created with JetBrains WebStorm.
   User: Robert
   Date: 13-4-24
   Time: 上午10:32

extends shared/layout

block main-content
    div#vertical
        div#middle-pane

            div.message
                h4 天主教堂 -
                p 这里的建筑别具一格，房顶特别高，成拱形，上面还有个巨大的十字架。房顶上又有满幅的浮雕。雕的是一些金发碧眼，背生翅膀的小天使。教堂正中的十字架上钉着一个全身是血，长发披面的塑像。
                p
                    | 这里明显的出口是&nbsp;
                    span.exit north&nbsp;
                    | 和&nbsp;
                    span.exit west&nbsp;
                    | 。
                ul
                    li 普通百姓「风云大主教」奥巴马(Obama)
                    li 普通百姓「天干地支」吴三(Wusan)
                    li 教父(Priest)
                div >

        div#bottom-pane
            div.input-pane-content
                input#entry