//-
   Created with JetBrains WebStorm.
   User: Robert
   Date: 13-4-24
   Time: 上午9:59

doctype 5
html
    head
        title= title

        meta(charset='utf-8')

        link(rel='stylesheet', href='/css/black_console.css')

    body

        #horizontal
            #left-pane
                include left

            #cnter-pane
                block main-content

            #right-pane
                include right

        #login-window(style='display:none')

        != js('console')
